<app-header></app-header>
<div class="featured-specials">
  <h2>FEATURED SPECIALS</h2>
  <div class="featured-specials-container">
    <div class="featured-specials-item">
      <div class="featured-specials-item-image">
        <img src="path/to/pizza.jpg" alt="Pizza">
      </div>
      <div class="featured-specials-item-details">
        <div class="featured-specials-item-details-header">
          <p>NEW!</p>
          <p>TAMPER PROOF</p>
          <p>PIZZA BOX</p>
        </div>
      </div>
    </div>
    <div class="featured-specials-item">
      <div class="featured-specials-item-details">
        <h3>LARGE 3-TOPPING
          PIZZA + 3 DRINKS</h3>
        <p>Upsize to XL for $3.50</p>
        <p>Additional charge for premium toppings.</p>
        <div class="featured-specials-item-details-price">
          <h3>$15.99</h3>
        </div>
        <div class="featured-specials-item-details-footer">
          <button class="featured-specials-item-details-footer-button">
            ORDER NOW
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<app-items-display></app-items-display>
<!--<app-footer></app-footer>-->
