<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="/" class="logo">
          <img src="assets/images/logo.png" alt="Pizza Pizza Logo">
        </a>
        <ul class="list-unstyled">
          <li><a href="/restaurant-locator">Restaurant Locator</a></li>
          <li><a href="/accessibility">Accessibility</a></li>
          <li><a href="/guarantee-policy">Guarantee Policy</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>About Us</h3>
        <ul class="list-unstyled">
          <li><a href="/about-us/since-1967">Since 1967</a></li>
          <li><a href="/about-us/about-our-food">About Our Food</a></li>
          <li><a href="/about-us/our-quality">Our Quality</a></li>
          <li><a href="/about-us/nutrition">Nutrition</a></li>
          <li><a href="/about-us/menu-faq">Menu FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Franchising</h3>
        <ul class="list-unstyled">
          <li><a href="/franchising/your-pizza-pizza">Your Pizza Pizza</a></li>
          <li><a href="/franchising/franchising-basics">Franchising Basics</a></li>
          <li><a href="/franchising/franchise-opportunities">Franchise Opportunities</a></li>
          <li><a href="/franchising/meet-the-teams">Meet The Teams</a></li>
          <li><a href="/franchising/get-answers">Get Answers</a></li>
          <li><a href="/franchising/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Company</h3>
        <ul class="list-unstyled">
          <li><a href="/company/our-company">Our Company</a></li>
          <li><a href="/company/leadership-team">Leadership Team</a></li>
          <li><a href="/company/careers">Careers</a></li>
          <li><a href="/company/community">Community</a></li>
          <li><a href="/company/slices-for-smiles">Slices for Smiles</a></li>
          <li><a href="/company/environment">Environment</a></li>
          <li><a href="/company/news">News</a></li>
          <li><a href="/company/investors">Investors</a></li>
        </ul>
      </div>
      <div class="col-md-12">
        <ul class="list-inline social-icons">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
