<app-header></app-header>

<!-- login.component.html -->
<br>
<br>
<br>

<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input
                    id="email"
                    type="email"
                    name="email"
                    ngModel
                    required
                    #email="ngModel"
                    class="form-control"
            />
            <div *ngIf="email.invalid && email.touched" class="error">
                Email is required.
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input
                    id="password"
                    type="password"
                    name="password"
                    ngModel
                    required
                    #password="ngModel"
                    class="form-control"
            />
            <div *ngIf="password.invalid && password.touched" class="error">
                Password is required.
            </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </form>
</div>
